@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.attribution {
    font-size: 11px; text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
}

p {
    font-size: 18px;
}

section {
    border-radius: 3rem;
    width: 50%;
    margin: auto;
    background-color: hsl(221, 100%, 96%);
}

div.left, div.right {
    padding: 2rem 3rem;
}
div.left {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
}

div.left > p {
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    text-align: center;
}

div.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    padding: 2rem 3rem;
}

div.score > h1 {
    font-size: 4rem;
    margin: 0 ;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
}

div.score > p {
    text-align: center; 
    margin: 0;
    color: hsla(241, 100%, 89%, 0.685);
}

div.left > h1 {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}

div.right {
    border-radius: 0 15px 15px 0;

}

.attribution a { 
    color: hsla(228, 45%, 44%, 0.781);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.part-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.part-score > div {
    display: flex;
    justify-content: space-around;
}

img {
    margin-right: 0.5rem;
}

.test {
    /*Primary*/
    color: hsl(0, 100%, 67%);
    color: hsl(39, 100%, 56%);
    color: hsl(166, 100%, 37%);
    color: hsl(234, 85%, 45%); 

    /*Gradients*/




    
    
    
    /*Neutral*/
    
    color: hsl(0, 0%, 100%);
    color: hsl(221, 100%, 96%);
    color: hsl(241, 100%, 89%);
    color: hsl(224, 30%, 27%);
}