@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.attribution {
    font-size: 11px; text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
}

p {
    font-size: 18px;
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 9px 7px 21px 8px rgba(0,0,0,0.1); 
    box-shadow: 9px 7px 21px 8px rgba(0,0,0,0.05);
}

div.left{
    padding: 1rem;
}
div.left {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.left > h2 {
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    font-size: 2.5vh;
    text-align: center;
}

.left > h1 {
    font-size: 2rem;
    margin: 0;
    color: hsl(0, 0%, 100%);
}

div.left > p {
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    font-size: 1.8vh;
    width: 80%;
    text-align: center;
}

div.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 10vh;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    padding: 3rem;
    margin: 2vh;
}

div.score > h1 {
    font-size: 7vh;
    margin: 0 ;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
}

div.score > p {
    text-align: center; 
    margin: 0;
    color: hsla(241, 100%, 89%, 0.685);
}


/* Right Card */

.right {
    border-radius: 0 15px 15px 0;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right > p {
    font-weight: 700;
    font-size: 3vh;
    
}

.score-header {
    display: flex;
    justify-content: space-between;
}

.score-header > img{
    margin-right: 1vw;
}
/* Reaction part */
.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);;
}

.reaction > .score-header {
    color: hsl(0, 100%, 67%);
}

/* Memory part */
.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.memory > .score-header {
    color: hsl(39, 100%, 56%);
}

/* Verbal part */
.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.verbal > .score-header {
    color: hsl(166, 100%, 37%);
}

/* Visual part */
.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
}

.visual > .score-header {
    color: hsl(234, 85%, 45%);
}
.topic-scores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.part-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    border-radius: .5rem;
}

.part-score > p {
    color:  hsl(224, 30%, 27%);
    font-weight: 700;
}

.part-score > p > span{
    color:  hsla(224, 30%, 27%, 0.5);
    font-weight: 700;
}

.continue-btn {
    background-color: hsl(224, 30%, 27%);
    border: none;
    height: 5vh;
    color: #fff;
    font-size: 1.8vh;
    border-radius: 5rem;
}

.continue-btn:active {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


.attribution a { 
    color: hsla(228, 45%, 44%, 0.781);
}


   

.test {
    /*Primary*/
    color: hsl(0, 100%, 67%);
    color: hsl(39, 100%, 56%);
    color: hsl(166, 100%, 37%);
    color: hsl(234, 85%, 45%); 

    /*Gradients*/

    /*Neutral*/
    
    color: hsl(0, 0%, 100%);
    color: hsl(221, 100%, 96%);
    color: hsl(241, 100%, 89%);
    color: hsl(224, 30%, 27%);
}